Lab04 exercise 1

In [15]:
gal=open("C:/Users/Jorge MG/PTUA2022/Lab04/Lab/Lab04-1.gal")

print(gal.read())

0 49 mystery mystery
1 2
2 3
2 3
4 3 1
3 4
5 4 2 1
4 4
8 3 5 2
5 7
15 11 8 9 6 3 4
6 2
9 5
7 3
14 13 8
8 5
12 11 5 4 7
9 6
26 22 15 10 6 5
10 3
20 17 9
11 4
16 12 5 8
12 5
16 14 13 11 8
13 3
14 12 7
14 6
19 12 13 16 18 7
15 4
25 16 5 9
16 7
25 24 18 15 11 12 14
17 3
23 20 10
18 4
24 19 16 14
19 3
18 24 14
20 9
35 33 27 22 23 32 40 17 10
21 4
34 24 30 9
22 5
28 27 26 20 9
23 3
32 17 20
24 6
30 25 16 18 21 19
25 5
29 15 26 16 24
26 4
28 22 9 25
27 4
33 28 20 22
28 7
38 29 27 33 35 22 26
29 4
37 30 28 25
30 4
37 29 24 21
31 2
36 34
32 4
41 40 23 20
33 4
35 20 27 28
34 4
42 36 21 31
35 5
44 38 20 33 28
36 5
46 39 34 42 31
37 5
45 38 43 29 30
38 4
43 35 28 37
39 2
46 36
40 4
47 41 32 20
41 3
47 32 40
42 2
34 36
43 5
48 45 44 38 37
44 4
49 48 35 43
45 4
48 49 37 43
46 2
36 39
47 2
40 41
48 4
49 44 43 45
49 3
44 48 45

import numpy as np
import pandas as pd

gal = np.loadtxt("C:/Users/Jorge MG/PTUA2022/Lab04/Lab/Lab04-1.gal", skiprows=1)
print(gal)
#gal = pd.DataFrame(gal[::2])

In [19]:
keys= list(range(1,50))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]